[submodule "dotfiles-example"]
	path = dotfiles-example
	url = https://github.com/insuusvenerati/dotfiles-example
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "dotbot-pacaur"]
	path = dotbot-pacaur
	url = https://github.com/insuusvenerati/dotbot-pacaur
[submodule "Archi3"]
	path = Archi3
	url = https://github.com/insuusvenerati/Archi3
[submodule "arch-linux-anywhere"]
	path = arch-linux-anywhere
	url = https://github.com/insuusvenerati/arch-linux-anywhere
[submodule "docs"]
	path = docs
	url = https://github.com/insuusvenerati/space-jekyll-template
