[submodule "dotfiles-example"]
	path = dotfiles-example
	url = https://github.com/insuusvenerati/dotfiles-example
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "dotbot-pacaur"]
	path = dotbot-pacaur
	url = https://github.com/insuusvenerati/dotbot-pacaur
[submodule "dotbot-yaourt"]
	path = dotbot-yaourt
	url = https://github.com/niklas-heer/dotbot-yaourt
